PROJECT_NAME=DigitalTwinMedicalStation

API_HOST=0.0.0.0
API_PORT=8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=medical_station

DATABASE_URL=postgresql://postgres:password@postgres:5432/medical_station

MQTT_HOST=mosquitto
MQTT_PORT=1883

SECRET_KEY=CHANGE_ME
ACCESS_TOKEN_EXPIRE_MINUTES=60

LOG_LEVEL=INFO