# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Environment
.env
venv/
.venv/

# Docker
*.log

# VSCode
.vscode/

# JetBrains
.idea/

# Node
node_modules/

# React
dist/

# Database
*.db

# macOS
.DS_Store

# Next.js
froted/.next/
froted/node_modules/